*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-primary: "lato", sans-serif;
    --bg-color: #19191a;
    --font-color-primary: #ece5f0;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-primary);
    color: var(--font-color-primary);
    justify-items: center;
    align-content: center;
    height: 100vh;
}

main {
    justify-items: center;
}

.code-sct {
    margin: 1rem;
}

.group-get-code {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-copy-code {
    padding: 1rem;
    display: flex;
}

.get-code {
    width: fit-content;
    padding: 0.5rem 1rem;
    border: .20rem solid #bd03bd;
    border-radius: .75rem;
    cursor: pointer;
}

.text-code {
    border-radius: .75rem 0 0 .75rem;
    width: fit-content;
    padding: 0.5rem 1rem;
    margin-left: 0;
}

.copy-code {
    width: fit-content;
    padding: 0.5rem 1rem;
    border: .20rem solid #bd03bd;   
    border-radius: 0 .75rem .75rem 0;
    margin-right: 0;
    cursor: pointer;
}